.userPanelContainer {
    padding: 24px;
}

.generateRequestContainer {
    text-align: center;
    padding: 24px;
}

.formContainer {
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin: auto;
        background-color: #dcdc54;
        border: 1px solid #dcdc54;
        padding: 12px 16px;
        border-radius: 8px;
    }

    label {
        margin-bottom: 4px;

        &::after {
            content: "*";
            color: red;
        }
    }

    textarea,
    input {
        background-color: aliceblue;
        border: 1px solid grey;
        outline: none;
        padding: 8px 16px;
        border-radius: 8px;
        margin-bottom: 16px;
    }
}

.horizontalRule {
    margin: 24px -24px;
}

.historyCardContainer {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.historyCard {
    width: fit-content;
    padding: 8px 16px;
    background-color: aliceblue;
    border: 1px solid rgb(204, 228, 250);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 24px;
}

.createdOn {
    padding: 4px;
    background-color: rgba(227, 215, 250, 0.484);
    border-radius: 4px;
    margin: auto;
    width: fit-content;
    font-size: 10px;
}

.requestStatus {
    padding: 4px;
    border: 4px;
    margin: auto;
    width: fit-content;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;

    &.pending {
        background-color: rgba(255, 255, 0, 0.7);
    }

    &.accepted {
        background-color: rgba(85, 255, 0, 0.7);
    }

    &.rejected {
        background-color: rgba(255, 25, 0, 0.7);
    }
}
